.btn-group {
  margin: 10px auto;
}
.selected {
  border: 1px solid black;
}
.displayDropdown{
  display: block;
}
.event-editor-title{
  position: relative;
}
.add-event-button{
   position: absolute;
   top: 0px;
   right: -13px;
}
