<div class="event-editor-title">
  <h2 ng-show="$ctrl.event.id">Edit event</h2>
  <h2 ng-hide="$ctrl.event.id">Add new event</h2>
  <button ng-hide="$ctrl.event || $ctrl.editBlock" type="button" ng-click="$ctrl.editBlock = true" class="btn btn-sm add-event-button btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
</div>
<h4 ng-bind="$ctrl.selected | date:'fullDate' "></h4>
<div ng-show="$ctrl.editBlock || $ctrl.event">
  <div ng-hide="$ctrl.event.id">
    <label>Calendar:</label>
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button"
              type="button"
              class="btn btn-default"
              uib-dropdown-toggle
              ng-disabled="disabled"
              >{{ $ctrl.currentCalendar.calendar }}<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-repeat="calendar in $ctrl.calendars">
          <a ng-bind="calendar.calendar"
             ng-click="$ctrl.currentCalendar=calendar"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label>Event title:</label>
    <textarea class="form-control" rows="1" ng-model="$ctrl.event.title" ></textarea>
  </div>
  <div class="form-group">
    <label>Event details</label>
    <textarea class="form-control" rows="3" ng-model="$ctrl.event.description" ></textarea>
  </div>
  <label>Event status:</label>
  <div class="btn-group text-small" data-toggle="buttons">
    <label class="btn green" ng-class="$ctrl.active('green')">
      <input type="radio"
             ng-model="$ctrl.event.status"
             value="green"/>
    </label>
    <label class="btn blue" ng-class="$ctrl.active('blue')">
      <input type="radio"
             ng-model="$ctrl.event.status"
             value="blue"/>
    </label>
    <label class="btn yellow" ng-class="$ctrl.active('yellow')">
      <input type="radio"
             ng-model="$ctrl.event.status"
             value="yellow"/>
    </label>
    <label class="btn orange" ng-class="$ctrl.active('orange')">
      <input type="radio"
             ng-model="$ctrl.event.status"
             value="orange"/>
    </label>
    <label class="btn red" ng-class="$ctrl.active('red')">
      <input type="radio"
             ng-model="$ctrl.event.status"
             value="red"/>
    </label>
  </div>
  <button ng-hide="$ctrl.event.id" ng-disabled="!$ctrl.valid()" type="button" ng-click="$ctrl.add()" class="btn btn-default">
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Add
  </button>
  <button ng-show="$ctrl.event.id" type="button" ng-click="$ctrl.edit()" class="btn btn-default">
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
  </button>
  <button ng-show="$ctrl.event.id" type="button" ng-click="$ctrl.remove($ctrl.event.id)" class="btn btn-default">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
  </button>
</div>
