.bottom {
  border-bottom: 3px solid gray;
}
.bottom-gr {
  border-bottom: 3px solid DarkGray;
}
.edit-calendar-button{
   position: absolute;
   top: -5px;
   right: 0;
}
.trash-calendar-button{
   position: absolute;
   top: -5px;
   right: 35px;
}
.add-calendar-button{
   position: absolute;
   bottom: 0px;
   right: 0px;
}
.cursor-pointer{
  cursor: pointer;
}
.input-top-padd{
  margin-top: 16px;
}
.input-width{
  width: 130px;
}
.calendars-top{
  margin-top: 0;
}
.input-calendars-width{
  width: 180px;
}
