<div class="event-editor-title">
  <h2 ng-hide="inputToggle">Calendars</h2>
  <div ng-show="inputToggle" class="form-group input-top-padd">
    <label>New calendar:</label>
    <input type="text" ng-model="$ctrl.newCalendar" class="input-width">
  </div>
  <button type="button"
          ng-click="inputToggle = !inputToggle; $ctrl.createCalendar()"
          class="btn btn-sm add-calendar-button btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
</div>
<div ng-repeat="calendar in $ctrl.events" class="bottom-gr">
  <div class="checkbox">
    <label>
      <input type="checkbox"
            ng-show="calendar.events.length"
            ng-model="calendar.checked"
            ng-click="$ctrl.calendarBar.refreshDP()">
      <h4 ng-hide="inputNameToggle"
          ng-bind="calendar.calendar"
          class="calendars-top"></h4>
      <input type="text"
            ng-show="inputNameToggle"
            ng-model="$ctrl.newCalendarName"
            ng-value="calendar.calendar"
            class="input-calendars-width">
      <h5 ng-hide="calendar.events.length">(Calendar is empty)<h4>
    </label>
    <button type="button"
            ng-click="inputNameToggle = !inputNameToggle; $ctrl.edit(calendar.id)"
            class="btn btn-default btn-sm edit-calendar-button">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    <button type="button"
            ng-click="$ctrl.remove(calendar.id)"
            class="btn btn-default btn-sm trash-calendar-button">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
  </div>
  <ul ng-show="calendar.events.length" class="list-group">
    <li class="list-group-item">
      <ul class="list-inline cursor-pointer"
          ng-repeat="event in calendar.events"
          ng-click="$ctrl.setSelection(event.date)">
        <li><div class="{{$ctrl.highLiter(calendar, event)}}"
                 style="width:10px;height:10px;"></div></li>
        <li ng-bind="event.title"><li>
        <li ng-bind="event.date | date:'mediumDate'"></li>
      </ul>
    </li>
  </ul>
</div>
