<div class="row">
  <div class="col-md-4">
    <div ng-if="$ctrl.calendars" class="panel panel-default">
      <div class="panel-heading">
        <div>
          <datepicker events="$ctrl.calendars"
                      selected="$ctrl.selected"></datepicker>
        </div>
      </div>
      <div class="panel-body">
        <div class="bottom">
          <calendars-list events="$ctrl.calendars"
                          callbacks="$ctrl.callbacksToRefresh"></calendars-list>
        </div>
        <div class="panel-footer">
          <events-editor event="$ctrl.currEvent"
                         current-calendar="$ctrl.currCalendar"
                         calendars="$ctrl.calendarsArr"
                         selected="$ctrl.selected"
                         callbacks="$ctrl.callbacksToRefresh"></events-adder>
        </div>
      </div>
    </div>
  </div>
</div>
