<div class="date-pickerToblock">
  <uib-datepicker ng-model="$ctrl.selected"
                  ng-change="$ctrl.calendarBar.updateSelected($ctrl.selected)"
                  datepicker-options="$ctrl.options">
  </uib-datepicker>
</div>
