.green, .green button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.orange, .orange button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
.red, .red button span {
  background-color: FireBrick;
  border-radius: 32px;
  color: black;
}
.blue, .blue button span {
  background-color: Cyan;
  border-radius: 32px;
  color: black;
}
.yellow, .yellow button span {
  background-color: Khaki;
  border-radius: 32px;
  color: black;
}
.date-pickerToblock{
  display: block;
}
.uib-datepicker{
  margin-bottom: 0;
}
